$font-size: 1rem;


html {
    font-size: 20px;
}

.app-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.task-list {
    display: flex;
    justify-content: space-around;
}